## Parse Tensile Raw Data From MTS Testing
This template parses raw data files into rows/columns
* This uses the `read_files` procedure from the TensileParsingRun class in `libs/curve_parse.py`
* As inputs, the Class takes a folder path and dictionary with parsing definition

JDL 10/12/23

In [7]:
import pandas as pd
import numpy as np
import sys, os

In [8]:
current_dir = os.getcwd()
libs_dir = current_dir +  os.sep + 'libs' 
if not libs_dir in sys.path: sys.path.append(libs_dir)
from curve_parse import TensileParsingRun

### Create dictionary with parsing instructions
This definition specifies how to locate both parametric data like Peak Load and the raw, load versus extension curve data

In [9]:
defn = {}
defn['run_id'] = ('_AnalysisName', 1, 0, 1) #Flag, col, row offset, col offset
defn['analysis_id'] = ('_AnalysisName', 1, 0, 1)

defn['params_start'] = ('BeginSample', 1, 1) #Flag, col, row offset
defn['params_end'] = ('BeginData', 1, -1)

defn['params_col_names'] = 1 #Column with param names
defn['params_col_offset'] = 1 #params_col_names to param vals offset

defn['raw_start'] = ('BeginData', 1, 3) #Flag, col, row offset
defn['raw_end'] = ('EndData', 1, -1) #Flag, col, row offset
defn['raw_var_names'] = (1, -2) #colStart, rowOffset from raw_start row

### Instance Class and Run on Specified Folder

In [11]:
raw_data_folder = current_dir + os.sep
parse = TensileParsingRun(defn, raw_data_folder)
parse.read_files_procedure()

In [13]:
parse.df_params.to_excel('df_params.xlsx', index=False, merge_cells=False)
parse.df_params

,RunID,AnalysisID,SampleID,AverageLoad,AvgNPeaks,PeakLoad,PeelEnd,PeelStart
0,Run101620-1,Analysis 94623,1,0.91,2.23,2.58,402.0,38.0
1,Run101620-1,Analysis 94623,2,0.97,2.48,2.53,402.0,38.0
2,Run101620-1,Analysis 94623,3,1.21,2.73,2.96,403.0,39.0
3,Run101620-1,Analysis 94623,4,0.92,2.17,2.86,401.0,38.0
4,Run101620-1,Analysis 94623,5,0.80,2.33,2.53,401.0,38.0
5,Run101620-1,Analysis 94623,6,1.06,2.84,3.14,402.0,38.0
6,Run101620-1,Analysis 94623,7,0.94,2.83,2.98,401.0,37.0
7,Run101620-1,Analysis 94623,8,1.17,3.04,3.10,402.0,38.0
8,Run101620-1,Analysis 94623,9,1.04,2.46,2.67,402.0,38.0
9,Run101620-1,Analysis 94623,10,1.19,3.22,3.37,403.0,39.0
10,Run101620-2,Analysis 94624,1,1.07,2.66,3.04,402.0,38.0
11,Run101620-2,Analysis 94624,2,1.18,3.12,3.20,401.0,37.0
12,Run101620-2,Analysis 94624,3,1.09,3.07,3.19,401.0,38.0
13,Run101620-2,Analysis 94624,4,1.39,3.58,3.93,402.0,38.0
14,Run101620-2,Analysis 94624,5,1.64,3.22,3.46,401.0,38.0
15,Run101620-2,Analysis 94624,6,1.16,3.38,3.82,402.0,38.0
16,Run101620-2,Analysis 94624,7,1.00,2.99,3.12,402.0,38.0
17,Run101620-2,Analysis 94624,8,0.99,2.65,2.88,402.0,38.0
18,Run101620-2,Analysis 94624,9,1.06,2.59,2.79,401.0,37.0
19,Run101620-2,Analysis 94624,10,1.12,2.93,3.14,401.0,37.0

In [14]:
parse.df_raw.to_excel('df_raw.xlsx', index=False, merge_cells=False)
parse.df_raw

            RunID      AnalysisID  SampleID  idx  _Load  SlackExt
0     Run101620-1  Analysis 94623         1    0   0.00     0.000
1     Run101620-1  Analysis 94623         1    1   0.00     0.000
2     Run101620-1  Analysis 94623         1    2   0.00     0.000
3     Run101620-1  Analysis 94623         1    3   0.00     0.000
4     Run101620-1  Analysis 94623         1    4   0.00     0.000
...           ...             ...       ...  ...    ...       ...
9063  Run101620-2  Analysis 94624        10  448   0.05    44.746
9064  Run101620-2  Analysis 94624        10  449   0.06    44.849
9065  Run101620-2  Analysis 94624        10  450   0.06    44.950
9066  Run101620-2  Analysis 94624        10  451   0.05    45.035
9067  Run101620-2  Analysis 94624        10  452   0.05    45.035

[9068 rows x 6 columns]