In [2]:
import re
import pandas as pd

In [15]:
s = 'Run101620-1 Material X Analysis 94623.mss'

In [16]:
#pattern = r'^([^_]+)_.*$'    
pattern = r'([^_]+)_.*'    
match = re.match(pattern, s)
match.group(1) if match else s

'Run101620-1 Material X Analysis 94623.mss'

In [17]:
lst = s.split('_')
lst

['Run101620-1 Material X Analysis 94623.mss']

In [18]:
lst[0]

'Run101620-1 Material X Analysis 94623.mss'

In [3]:
df1 = pd.DataFrame()
df1

Empty DataFrame
Columns: []
Index: []

In [5]:
df2 = pd.DataFrame(data={'a':[1,2], 'b':[2,4]})
df3 = pd.DataFrame(data={'b':[6,8], 'c':[3,6]})

In [13]:
pd.concat([df2, df3], ignore_index=True, join='inner')

   b
0  2
1  4
2  6
3  8